/*
Project Name: Relaxr
Client: GA - Homework 2
Author: Dawn Robles
Developer @GA in DTLA
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
  background-color: #f0efef;
  width: calc(30%-20px);
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
  background-color: #f0efef;
  width: calc(70%-20px);
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
	margin: 10px;
	align-content: center;

}

header, #benefit, #subfooter, footer, #subSignUp {
	/*margin-left: auto;
	margin-right: auto;*/
	margin: 5px auto;
	text-align: center;
	font-size: 22px;
	font-family: 'Noto Sans', sans-serif;
}

#hdrRelaxr {
	background: url("../images/header_bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	max-height: 470px;
	color: white;
	padding: 50px;
	margin-bottom: 0px;
}

#hdrBlog {
	background: #033048;
	max-height: 420px;
	color: white;
	padding: 50px;
	margin-bottom: 0px;
}

header nav {
	text-align: right;
}

header ul {
	list-style: none;
}

header li {
	display: inline-block;
}

header a {
	line-height: 35px;
	color: #f9e42e;
}

header h1 {
	text-align: left;
	line-height: 70px;
}

header p {
	line-height: 30px;
}

#ctaGetnow {
	background-color: #f9e42e;
	margin: 10px 0px;
	padding: 10px;
	min-width: 150px;
	max-width: 300px;
	color: black; 
	font-weight: bold;
	border-radius: 10px;
}

#benefit {
	background-color: #f0efef;
	height: 450px;
	color: #606161;
	text-align: left;
	padding: 30px;
	font-size: 16px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: 'Open Sans', sans-serif;
}

#benefit-content {
	align-content: center;
	margin: 20px;
	max-width: 500px;
}

#subfooter {
	background: url("../images/testimonial_bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 350px;
	color: white;
	padding: 35px;
	margin: 0px auto;
}

footer {
	background-color: black; 
	min-height: 260px;
	max-height: 400px;
	color: white;
	margin: 0px auto;
	padding: 15px;
	font-family: 'Open Sans', sans-serif;
}

footer p, #subfooter p {
	text-align: center;
}

footer .pBold {
	color: yellow;
	font-size: 30px;
	font-weight: 800;
}


.pBold {
	font-weight: bold;
}

.pItalize {
	font-style: italic;
}

#subSignUp {
	background-color: #f9e42e;
	margin: 0px auto;
	padding: 10px;
	height: 90px;
	vertical-align: top;
}

#ctaRegister {
	background-color: #033048;
	margin: 10px 0px;
	padding: 10px;
	min-width: 150px;
	max-width: 300px;
	color: white; 
	font-weight: bold;
	border-radius: 10px;
}

img {

}

li {
	padding: 5px 0px;
}

footer ul {
	list-style:none;
}

footer li {
	display: inline-block;
	margin: 10px;
	padding-right: 50px;
}



/* ~addons for page 2~ */

 #BlogNavs {
 	font-family: 'Open Sans', sans-serif;
 	font-size: 24px;
 	font-weight: 600;
 }
